body {
  background: linear-gradient(#3e3d40, #2f2e43);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: grid;
  place-items: center;
}

#resultado {
  color: white;
  font-size: 60px;
  font-family: "Roboto Mono", monospace;
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom_container {
  background-color: black;
  max-width: 350px;
  padding: 20px;
  border: none;
  border-radius: 2%;

  .MuiButton-root {
    color: #ffffff;
    border-radius: 40px;
    font-size: 25px;
    height: 70px;
    border: none;
    transition: background-color 0.3s;
    font-family: "Roboto Mono", monospace;
  }

  .MuiButton-root:hover{
    opacity: 70%;
  }

  .yellow {
    background: #e29002;
    color: #ffffff;
  }

  .grey {
    background: #464646;
    color: #ffffff;
  }

  .softGrey {
    background-color: #b8b8b8;
    color: black;
  }
}