body {
  background: linear-gradient(#3e3d40, #2f2e43);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.custom_container{
  background-color: black;
  padding: 20px;
}

.yellow {
  background: #ffa200;
  color: #ffffff;
}

.grey {
  background: #464646;
  color: #ffffff;
}

.softGrey {
  background-color: #c0c0c0;
}